/** Stripped from bootstrap **/
.fade.in {
    opacity: 1;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

/** Custom styles **/

.detail .alert-messages-container{
    position: fixed;
    top: 0;
    right: 0;
    width: 75vw;
    padding: 15px;
    margin-top: 60px;
    z-index: 1000;
    display:none;
}

.detail .alert-messages-container.active{
    display:block;
    cursor: pointer;
}

.index .alert-messages-container .alert{
    margin-bottom:8px;
}