.annotate{
    width: 105px;
    height: 32px;
    position: absolute;
    z-index: 951;
    line-height: 30px;
    text-align: center;
    font-size: 13pt;
    background-color: #f8f8f8;
    right: 140px;
    padding: 0;
    color: #777;
    border: 1px #ccc solid;
    border-top: 0;
    border-left: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.annotate .annotate-form-fade.visible{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.9;
    top: 0;
    left: 0;
    z-index: 1000;
}

.annotate .annotate-form{
    position: fixed;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 100px #aaa;
    border: 1px solid #ddd;
    padding: 15px;
    padding-top: 50px;
    z-index: 1000;
}

.annotate .annotate-form .buttons{
    /*position: absolute;*/
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
}

.annotate .annotate-form .buttons input[type="submit"].btn{
    width: 100%;
    height: 100%;
}

.annotate .annotate-form .close-button{
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 15pt;
    color: #aaa;
    text-decoration: none;
}

.annotate .annotate-form .EmailBox .error-msg {
    margin-bottom: 15px;
    margin-left: -13px;
    margin-right: -15px;
}

.annotate-form label {
    text-align: right;
}

.annotate .annotate-form textarea{
    resize: none;
}

.annotate .annotate-form td{
    text-align: left;
    vertical-align: middle;
}
.annotate .annotate-form td:last-child{
    text-align: right;
    width: 52px;
}

.annotate .annotate-form .component-combobox-container{
    width:100%;
}

.annotate .annotate-form .component-combobox{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    padding-right: 35px;
    text-align: left;
}

.annotate .annotate-form .component-combobox .glyphicon{
    height: 100%;
    position: absolute;
    right: 0;
    width: 30px;
    padding: 10px 25px;
    padding-left:10px;
    text-align: center;
}

.annotate .annotate-form .component-combobox-container .dropdown-menu{
    width:100%;
    margin-right:50px;
    max-height:20vh;
    overflow-y: auto;
    position:fixed;
}

.annotate .annotate-form .component-combobox-container .dropdown-menu li{
    padding: 6px;
    padding-left: 12px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    margin-left: 1px;
    margin-right: 1px;
}
.annotate .annotate-form .component-combobox-container .dropdown-menu li:last-child{
    border-bottom: none;
}

.annotate .annotate-button{
    cursor:pointer;
}

.annotate .glyphicon.glyphicon-edit{
    vertical-align: baseline;
    font-size: 12pt;
}

.annotate .btn.disabled:hover{
    color: #777;
}

.annotate .channel-annotations h2,
.annotate .residue-annotations h2{
    text-align: left;
    border-bottom: none;
    margin-bottom: 10px;
}

.annotate .annotate-form .error-msg {
    color: red;
    border: 1px solid #ff6d6d;
    background-color: rgb(255, 213, 213);
    border-radius: 4px;
    padding: 2px 5px;
    text-align: center;
}

.annotate .annotate-form .custom-box .form-group{
    margin-bottom: 3px;
}

.annotate .annotate-form .scroll-container{
    height: 100%;
    overflow-y: auto;
    padding: 15px;
}

.annotate .annotate-form .channel-annotations tr th:nth-child(1){
    min-width:100px;
}
.annotate .annotate-form .channel-annotations tr th:nth-child(2){
    min-width:170px;
}
.annotate .annotate-form .channel-annotations tr th:nth-child(4){
    min-width:155px;
}
.annotate .annotate-form .channel-annotations tr th:nth-child(5){
    min-width:95px;
}

.annotate .annotate-form .residue-annotations tr th:nth-child(1){
    min-width:85px;
}
.annotate .annotate-form .residue-annotations tr th:nth-child(3){
    min-width:155px;
}
.annotate .annotate-form .residue-annotations tr th:nth-child(4){
    min-width:95px;
}

.annotate .error-message{
    position: absolute;
    z-index: 900;
    opacity: 0.8;
    left: 30px;
    right: 60px;
    top: 15px;
    border-radius: 5px;
    padding: 4px;
}

.annotate .annotate-form-header img{
    width: 200px;
    margin-bottom:20px;
}

.annotate .annotate-form-header p{
    text-align: left;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

button.channelsdb.dropdown-toggle {
    background-color: transparent;
    border: 0;
    box-shadow: none !important;
    /*width: 100%;
    height: 100%;*/
    font-size: 11pt;
    padding-left: 0;
    padding-right: 0;
}

button.channelsdb img {
    height: 22px;
    margin-top: -6px;
}