.TextBox-hint,
.ResidueArraysBox-useSelection,
.PointsArraysBox-useSelection{
    width: 100%;
    text-align: right;
    padding-right: 18px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.ResidueArraysBox-useSelection,
.PointsArraysBox-useSelection{
    padding-right: 15px;
}

.ResidueArraysBox-useSelection .useCurrentSelectionIcon,
.PointsArraysBox-useSelection .useCurrentSelectionIcon{
    margin-right: 3px;
}

.controls-option-like-list{
    padding-top: 5px;
    padding-bottom: 5px;
}