body{
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:10pt;
    /*min-width:400px;*/
}

.msp-selection-viewport-controls {
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px auto !important;
}

.msp-selection-viewport-controls-actions {
    top: auto !important;
    bottom: 32px !important;
}

.msp-viewport-controls {
    margin-top: 40px;
}

.dropdown-menu a{
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none;
}

* {
    box-sizing: border-box;
}

*,
.ui-widget * li,
.ui *:not(.glyphicon){
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.msp-plugin * {
    font-family: inherit; /* Ensures inheritance from parent elements, not the broad rule */
}


.ui-widget-content a{
    color:#337ab7;
}

.tabs .ui-state-active,
.btn-primary
{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-top-color: rgb(46, 109, 164);
    border-right-color: rgb(46, 109, 164);
    border-bottom-color: rgb(46, 109, 164);
    border-left-color: rgb(46, 109, 164);
}

/*
.plugin {
    position: fixed;
    top: 0;
    bottom: 48vh;
    right: 400px;
    left: 0;
} 

.ui {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    padding: 20px;
    overflow-y: scroll;
    background: #ccc;
}  
*/


.layerVizualizer,
.layer-vizualizer-hint-div{
    /*
    position:fixed;
    bottom:0;
    height:48vh;
    left:0;
    right:400px;  
    */
    position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
} 

h2 {
    border-bottom: 1px solid #999;
    margin-bottom: 5px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

a.section-header {
    color: #333;
    text-decoration: none;
}

a.section-header:hover {
    color: red;
}

.show-all {
    position: absolute;
    right: 0;
    top: 0;
}

body {
    background: white;
    color: #333;
}

/*
.home-button{
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 1000;
    line-height: 40px;
    text-align: center;
    font-size: 13pt;
    background-color: #f8f8f8;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    left: 15px;
}
*/
.home-button{
    width: 55px;
    height: 50px;
    position: absolute;
    z-index: 950;
    line-height: 40px;
    text-align: center;
    font-size: 13pt;
    background-color: #f8f8f8;
    border-bottom-right-radius: 100px;
    /* border-bottom-left-radius: 30px; */
    right: 0px;
    padding-right: 15px;
    border-bottom: #ccc 1px solid;
    box-shadow: #ccc 1px 0px;
    transform: scaleX(-1);
}

.home-button a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #777;
}

.home-button img{
    width: 20px;
    height: 20px;
    margin-top: -5px;
}

.home-button a:hover{
    color: #555;
}

.channel-info-title{
    cursor:help;
}

.help{
    cursor:help;
}
.hand{
    cursor:pointer;
}
.disabled{
    cursor:not-allowed;
    color:#777;
}
.ui .annotation-line{
    border-top: #9a9a9a 1px solid;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 2px;
}

/*
#tabs{
    position: fixed;
    bottom: 0;
    right: 400px;
    left: 0;
    height: 48vh;
}

@media only screen and (max-width: 1300px),
only screen and (max-height: 900px) {
    #tabs{
        height: 52vh;
    }   
    #tabs .ui-tabs-nav, 
    #tabs .ui-tabs-panel{
        padding:0 !important;
    }
    .plugin {
        bottom: 52vh;
    } 
}

@media only screen and (max-width: 1100px),
only screen and (max-height: 750px) {
    #tabs{
        height: 56vh;
        right: 300px;
    }   
    #tabs .ui-tabs-nav, 
    #tabs .ui-tabs-panel{
        padding:0 !important;
    }
    .plugin {
        bottom: 56vh;
        right: 300px;
    } 
    .ui{
        width: 300px;
    }
}

@media only screen and (max-width: 920px),
only screen and (max-height: 600px) {
    #tabs{
        height: 60vh;
        right: 270px;
    }   
    #tabs .ui-tabs-nav, 
    #tabs .ui-tabs-panel{
        padding:0 !important;
    }
    .plugin {
        bottom: 60vh;
        right: 270px;
    } 
    .ui{
        width: 270px;
    }
}
*/


/* * */

.chdb-panel{
	/* position:absolute; */
    /*overflow: hidden;*/
    transition: none !important;
    /* max-height: none !important; */
}
/*
#controls div:first-child{
    height:100%;
}*/

.plugin{
	/* width:75vw; */
	height:100%;
    position: relative;
	/* left:0;
    top:0; */
    /*border-bottom: 1px solid #aaa;*/
    border-right: 1px solid #aaa;
    /* z-index: 1; */
}
.plugin.sv-minimized{
    height:65.3vh;
}

.lm-plugin .lm-viewport-controls{
    z-index:0;
}

.plugin.bottom-panel-toggled{
	height:25vh;
}
.plugin.sv-minimized.bottom-panel-toggled{
    height:32.3vh;
}

.sequence-viewer{
    /* top:58vh; */
    height:17vh;
    /* width:75vw; */
}
/* .sequence-viewer.bottom-panel-toggled{
    top:25vh;
} */


.plugin .lm-highlight-info,
.plugin .lm-background-tasks{
    top: initial;
    bottom: 40px;
}

.right-panel{
	width:25vw;
	height:100vh;
	right:0;
    top:0;
    /* z-index: 2; */
}

.bottom-panel{
	/* width:75vw; */
	min-height:34vh;
	/* left:0; */
    /* top:66vh; */
}
.bottom-panel.bottom-panel-toggled{
    top: 33vh;
	height:67vh;
}

.toggler{
	/*background: #007fff;*/
	font-size:1em;
	cursor:pointer;
    padding-top: .1em;
    padding-bottom: .1em;
}

.bottom-panel .toggler,
.right-panel .toggler{
	position:absolute;
	right:0;
	top:0;
    margin-top: .6em;
    margin-right: .8em;
}

.right-panel .toggler{
    margin-top: .8em;
}

.tabs{
	border-radius: 0 !important;
}

.right-tabs,
.left-tabs{
	/*display:inline-block;*/
	position:relative;
}

.left-tabs{
	left:0;
	width:67%;
}
.left-tabs .tabs,
.right-tabs .tabs,
.left-tabs,
.right-tabs,
.right-panel > .bottom,
.right-panel > .bottom .tabs{
	height:100%;
}
.right-tabs{
	right:0;
	width:33%;
}

.left-tabs.bottom-tabs-toggled{
	width:34%;
}
.right-tabs.bottom-tabs-toggled{
	width:66%;
}

.ui{
    /* position:absolute; */
    /* width: 24.7vw; */
	/* height:66vh; */
    max-height: 40vh;
    min-height: 40vh;
    padding: 10px;
    padding-bottom:1vh;
    overflow-y: auto;
    background: #fff;/*#ccc;*/
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    /*border-bottom-left-radius: 4px;*/
    margin-right: 3px;
}

.channels-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ui-channels{
    /* position:absolute; */
    /* width: 24.7vw; */
	/* height:66vh; */
    padding: 10px;
    padding-bottom:1vh;
    overflow-y: auto;
    background: #fff;/*#ccc;*/
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    /*border-bottom-left-radius: 4px;*/
    margin-right: 3px;
}
.right-panel > .bottom{
	position:absolute;
	bottom:0;
	right:0;
	height:34vh;
	width:100%;
}
.right-panel > .bottom.toggled{
	height:67vh;
}
.right-panel .ui.toggled{
	height:33vh;
}

.ui-tabs-panel{
    padding: .3em 0.4em !important;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
    padding: .1em .5em !important;
}

#right-panel-tabs .datagrid {
    right: 0;
    left: 0.2em;
}

#right-panel-tabs .datagrid .header {
    height:0;
}

#right-panel-tabs .datagrid tr.highlight td {
    background-color:#616161;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

#right-panel-tabs .datagrid tr.highlight.hl-main td {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* #right-panel-tabs .tab-content{
    height: 100vh;
} */

.datagrid tr.separate{
    color:red;
}

.datagrid tr.catalytics td {
    font-size: 10pt;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.datagrid tr.catalytics td::before{
    content: '\00bb';
    padding-right: 2px;
}


#layer-properties .datagrid .col.col-1,
#layer-properties .datagrid * .col.col-1{
	width:90%;
	min-width:100px;
}
#layer-properties .datagrid .col.col-2,
#layer-properties .datagrid * .col.col-2{
    min-width: 70px;
}

#layer-properties .datagrid .properties-icon{
    display:inline-block;
    margin-right:5px;
}
#layer-properties .datagrid .properties-icon.upside-down{
    transform: rotateY(180deg) rotate(180deg);
}

#layer-residues .datagrid .col.col-1,
#layer-residues .datagrid * .col.col-1{
	width:18%;
    min-width:105px;
}
#layer-residues .datagrid td.col.col-1,
#layer-residues .datagrid td.col.col-2{
    font-size: 10pt;
}
#layer-residues .datagrid .help td.col.col-1{
    cursor: help;
}

#layer-residues .datagrid .col.col-2,
#layer-residues .datagrid * .col.col-2{
	width:60%;
	min-width:125px;
}
/*
#layer-residues .datagrid .col.col-3,
#layer-residues .datagrid * .col.col-3{
    min-width: 110px;
}*/

/*
#right-tabs-3 .datagrid .col.col-1,
#right-tabs-3 .datagrid * .col.col-1{
	width:20%;
	min-width:65px;
}
#right-tabs-3 .datagrid .col.col-2,
#right-tabs-3 .datagrid * .col.col-2{
	width:60%;
	min-width:125px;
}*/
/*
#right-tabs-3 .datagrid .col.col-3,
#right-tabs-3 .datagrid * .col.col-3{
    min-width: 110px;
}
*/

.ui-selection-header {
    background-color: #616161;
    margin: -10px;
    padding: 0px;
    margin-bottom: 0.25vh;
    padding-left: 5px;
    padding-right: 5px;
    color: white !important;
    text-shadow: none;
    font-size: 2.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ui-header{
    background-color: #616161;
    margin: -10px;
    padding: 0px;
    margin-bottom: 0.25vh;
    padding-left: 5px;
    padding-right: 5px;
    color: white !important;
    text-shadow: none;
    font-size: 2.5vh;
}

.ui-selection{
    min-height: 30px;
    line-height: 30px;
}

.ui-selection .columns {
    column-count: 3;
}
.ui-selection .columns.points {
    column-count: 2;
}
.ui-selection-clear,
.ui-selection-clear:hover{
    /* right: 0; */
    position: relative;
    /* margin-top: 0.5vh;
    margin-right: 0.5vh;
    max-width: 4vh;
    height: 2.5vh;
    width: 2.5vh;
    padding: 0.25vh; */
    
    background-color: transparent !important;
    border: none !important;
    font-size: 1.75vh;
    /* margin-top: 0.35vh; */
    color:white;
}

.ui-header{
    margin-top: 0.25vh;
    margin-bottom: 0px;
}

.ui-header.origins,
.ui-header.membrane{
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}

.ui-subheader{
    padding: 0;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ui-subheader a{
    font-weight:bold;
}

.ui-subheader a:hover{
    color:#337ab7;
}

.ui-show-all{
    position: relative;
    right: 0;
    top: 0;
    height: 2vh;
    padding: 0;
}

.ui-show-all button{
    /* width: 40px;
    height: 2vh; */
    line-height: 100%;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 1.25vh;
}

.ui-item-container{
    border-bottom: #ddd 1px solid;
}

.ui-item-container:first-child{
    /*border-top: #9a9a9a 1px solid;*/
    margin-top: 0.5vh;
}

.ui-label{
    font-size: 10pt;
    width: 100%;
    padding-top: 2px;
    margin-bottom: 0;
    border-top: #ddd 1px solid;
    padding-left: 19px;
}

.ui-label input[type=checkbox]{
    margin: auto auto;
    vertical-align: middle;
    margin-right:5px;
    cursor: pointer;
}

.ui-no-data-available{
    padding-left:20px;
}

.ui .reload-data{
    width:100%;
    margin-top:15px;
} 

.ui .error-message div:nth-child(1){
    font-size:18pt;
    border-bottom: #616161 1px solid;
    padding-bottom: 10px;
}
.ui .error-message div:nth-child(2){
    font-size:13pt;
    padding-top: 15px;
}

.ui .datagrid .body tr td.catalytics{
    background-color:red;
}

#layer-residues .datagrid{
    bottom:initial;
    padding-top:0;
}
#layer-properties .datagrid{
    padding-top:2px;
}

#layer-residues{
    padding-top:3px;
    bottom:0;
}
#layer-properties{
    padding-top:0px;
    bottom:0;
}

.ui .annotation-line .bullet::before{
    content: '\00bb';
    padding-right: 2px;
}

span.ATable-label {
    font-size: 6pt;
    vertical-align: middle;
}

.icon.bottleneck.black {
    background-image: url(../images/bottleneck-radius-black.png);
}

.icon.bottleneck {
    background-image: url(../images/bottleneck-radius-white.png);
}
.icon.bottleneck,
.icon.logp,
.icon.logd,
.icon.logs,
.icon.ionizable{
    background-repeat: no-repeat;
    background-position: center center;
    height: 1em;
    width: 1em;
    background-size: 1em 1em;
    display: inline-block;
    vertical-align: text-top;
}
.icon.ionizable.black{
    background-image: url(../images/ionizable_black.png);
}
.icon.ionizable{
    background-image: url(../images/ionizable_white.png);
    height: 1.1em;
    width: 1.1em;
    background-size: 1.1em 1.1em;
}
.icon.logp{
    background-image: url(../images/water_drop_white.png);
}
.icon.logp.black{
    background-image: url(../images/water_drop_black.png);
}
.icon.logd{
    background-image: url(../images/water_drop_with_signs_white.png);
}
.icon.logd.black{
    background-image: url(../images/water_drop_with_signs_black.png);
}
.icon.logs{
    background-image: url(../images/water_waves_white.png);
}
.icon.logs.black{
    background-image: url(../images/water_waves_black.png);
}


.popover {
    left: -60% !important;
    width: 65% !important;
}

.no-channels-data{
    margin-top: 1vh;
    font-style: italic;
}

.ui .color-picker{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 2px 2px;
    margin-bottom: -4px;
    margin-left: 4px;
    border: 1px solid black;
    cursor: pointer;
}

.ui .lm-color-picker{
    position:absolute;
    width:120px;
    height:80px;
}

.ui label{
    font-weight: normal;
    margin-bottom:2px;
}

.ui label input[type=checkbox], input[type=radio] {
    margin-top: 0px;
    vertical-align: middle;
}

.submit-form-container .submit-parent, .chdb-panel.right-panel {
    min-width: 330px;
}
.right-panel.minimized{
    min-width:4px;
}
.right-panel .ui{
    min-width:325px;
}
#controls{
    min-width:330px;
}

.controls-tab {
    width: 467px;
    height: 50px;
    position: absolute;
    right: 0;
    z-index: 3;
}

.controls-tab.minimized {
    right: 6px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)
}

.panel-body {
    padding: 15px
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.panel-heading>.dropdown .dropdown-toggle {
    color: inherit
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}

.panel-title>.small,
.panel-title>.small>a,
.panel-title>a,
.panel-title>small,
.panel-title>small>a {
    color: inherit
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.panel>.list-group,
.panel>.panel-collapse>.list-group {
    margin-bottom: 0
}

.panel>.list-group .list-group-item,
.panel>.panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0
}

.panel>.list-group:first-child .list-group-item:first-child,
.panel>.panel-collapse>.list-group:first-child .list-group-item:first-child {
    border-top: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.panel>.list-group:last-child .list-group-item:last-child,
.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.panel>.panel-heading+.panel-collapse>.list-group .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.panel-heading+.list-group .list-group-item:first-child {
    border-top-width: 0
}

.list-group+.panel-footer {
    border-top-width: 0
}

.panel>.panel-collapse>.table,
.panel>.table,
.panel>.table-responsive>.table {
    margin-bottom: 0
}

.panel>.panel-collapse>.table caption,
.panel>.table caption,
.panel>.table-responsive>.table caption {
    padding-right: 15px;
    padding-left: 15px
}

.panel>.table-responsive:first-child>.table:first-child,
.panel>.table:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child,
.panel>.table:first-child>tbody:first-child>tr:first-child,
.panel>.table:first-child>thead:first-child>tr:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,
.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,
.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,
.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,
.panel>.table:first-child>thead:first-child>tr:first-child th:first-child {
    border-top-left-radius: 3px
}

.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,
.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,
.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,
.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,
.panel>.table:first-child>thead:first-child>tr:first-child th:last-child {
    border-top-right-radius: 3px
}

.panel>.table-responsive:last-child>.table:last-child,
.panel>.table:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child,
.panel>.table:last-child>tbody:last-child>tr:last-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child,
.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,
.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child {
    border-bottom-left-radius: 3px
}

.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child,
.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,
.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child {
    border-bottom-right-radius: 3px
}

.panel>.panel-body+.table,
.panel>.panel-body+.table-responsive,
.panel>.table+.panel-body,
.panel>.table-responsive+.panel-body {
    border-top: 1px solid #ddd
}

.panel>.table>tbody:first-child>tr:first-child td,
.panel>.table>tbody:first-child>tr:first-child th {
    border-top: 0
}

.panel>.table-bordered,
.panel>.table-responsive>.table-bordered {
    border: 0
}

.panel>.table-bordered>tbody>tr>td:first-child,
.panel>.table-bordered>tbody>tr>th:first-child,
.panel>.table-bordered>tfoot>tr>td:first-child,
.panel>.table-bordered>tfoot>tr>th:first-child,
.panel>.table-bordered>thead>tr>td:first-child,
.panel>.table-bordered>thead>tr>th:first-child,
.panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,
.panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,
.panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child,
.panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,
.panel>.table-responsive>.table-bordered>thead>tr>td:first-child,
.panel>.table-responsive>.table-bordered>thead>tr>th:first-child {
    border-left: 0
}

.panel>.table-bordered>tbody>tr>td:last-child,
.panel>.table-bordered>tbody>tr>th:last-child,
.panel>.table-bordered>tfoot>tr>td:last-child,
.panel>.table-bordered>tfoot>tr>th:last-child,
.panel>.table-bordered>thead>tr>td:last-child,
.panel>.table-bordered>thead>tr>th:last-child,
.panel>.table-responsive>.table-bordered>tbody>tr>td:last-child,
.panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,
.panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child,
.panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,
.panel>.table-responsive>.table-bordered>thead>tr>td:last-child,
.panel>.table-responsive>.table-bordered>thead>tr>th:last-child {
    border-right: 0
}

.panel>.table-bordered>tbody>tr:first-child>td,
.panel>.table-bordered>tbody>tr:first-child>th,
.panel>.table-bordered>thead>tr:first-child>td,
.panel>.table-bordered>thead>tr:first-child>th,
.panel>.table-responsive>.table-bordered>tbody>tr:first-child>td,
.panel>.table-responsive>.table-bordered>tbody>tr:first-child>th,
.panel>.table-responsive>.table-bordered>thead>tr:first-child>td,
.panel>.table-responsive>.table-bordered>thead>tr:first-child>th {
    border-bottom: 0
}

.panel>.table-bordered>tbody>tr:last-child>td,
.panel>.table-bordered>tbody>tr:last-child>th,
.panel>.table-bordered>tfoot>tr:last-child>td,
.panel>.table-bordered>tfoot>tr:last-child>th,
.panel>.table-responsive>.table-bordered>tbody>tr:last-child>td,
.panel>.table-responsive>.table-bordered>tbody>tr:last-child>th,
.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td,
.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th {
    border-bottom: 0
}

.panel>.table-responsive {
    margin-bottom: 0;
    border: 0
}

.panel-group {
    margin-bottom: 20px
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px
}

.panel-group .panel+.panel {
    margin-top: 5px
}

.panel-group .panel-heading {
    border-bottom: 0
}

.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #ddd
}

.panel-group .panel-footer {
    border-top: 0
}

.panel-group .panel-footer+.panel-collapse .panel-body {
    border-bottom: 1px solid #ddd
}

.panel-default {
    border-color: #ddd
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd
}

.panel-default>.panel-heading .badge {
    color: #f5f5f5;
    background-color: #333
}

.panel-default>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #ddd
}

.panel-primary {
    border-color: #337ab7
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #337ab7
}

.panel-primary>.panel-heading .badge {
    color: #337ab7;
    background-color: #fff
}

.panel-primary>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #337ab7
}

.panel-success {
    border-color: #d6e9c6
}

.panel-success>.panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.panel-success>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #d6e9c6
}

.panel-success>.panel-heading .badge {
    color: #dff0d8;
    background-color: #3c763d
}

.panel-success>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #d6e9c6
}

.panel-info {
    border-color: #bce8f1
}

.panel-info>.panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #bce8f1
}

.panel-info>.panel-heading .badge {
    color: #d9edf7;
    background-color: #31708f
}

.panel-info>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #bce8f1
}

.panel-warning {
    border-color: #faebcc
}

.panel-warning>.panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc
}

.panel-warning>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #faebcc
}

.panel-warning>.panel-heading .badge {
    color: #fcf8e3;
    background-color: #8a6d3b
}

.panel-warning>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #faebcc
}

.panel-danger {
    border-color: #ebccd1
}

.panel-danger>.panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.panel-danger>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ebccd1
}

.panel-danger>.panel-heading .badge {
    color: #f2dede;
    background-color: #a94442
}

.panel-danger>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #ebccd1
}

.panel-body:after,
.panel-body:before {
    display: table;
    content: " "
}

.panel-body:after {
    clear: both
}

.bottom-panel-collapse {
    position: relative;
    padding-left: 4px;
    border-top-right-radius: 10px;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    padding-right: 8px;
    padding-top: 3px;
    z-index: 900;
    background-color: white;
    padding-bottom: 4px;
    line-height:initial;
    width: 128px;
    box-sizing: content-box;
    cursor: pointer;
}

.collapse:not(.show) {
    display: none !important;
}

.left-panel-tabs {
    position: absolute;
    z-index: 900;
    left: 330px;
}

.left-panel {
    flex: 1;
    min-width: 330px;
    border: #e5e5e5;
    border-width: 1px;
    border-style: solid;
}

.left-panel-tab {
    border-top: 1px solid #aaa !important;
    border-right: 1px solid #aaa !important;
    border-bottom: 1px solid #aaa !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-top-left-radius: 0px !important;
    /* writing-mode: vertical-rl !important; */
}

.nav {
    border-bottom: 0px !important;
}

.change-view-button {
    position: absolute;
    z-index: 900;
    right: 15px;
    width: 90px;
}

.example-button {
    color: white !important;
}

.msp-layout-bottom {
    margin-left: 30px !important;
}

.msp-layout-left {
    margin-left: 30px !important;
}

.msp-layout-top {
    margin-left: 30px !important;
}

#left-panel .tab-content > .active {
   display: flex !important;
   flex-direction: column;
   height: 100%;
}

#left-panel .tab-content {
    height: 100%;
}

#left-panel .accordion-body {
    padding: 12px 14px !important;
}

.accordion-button:not(.collapsed) {
    background-color: white !important;
}

.ui-show-all-btn {
    width: 40px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

@media only screen and (max-width: 1830px){
    span.ATable-label {
        display:none;
    }
}

@media only screen and (max-width: 1300px) and (max-height: 900px) {
    .plugin{
        height:50vh;
    }
    .plugin.bottom-panel-toggled{
        height:30vh;
    }
    .plugin.sv-minimized{
        height:59vh;
        border-bottom: 1px solid #aaa;
    }
    .plugin.sv-minimized.bottom-panel-toggled{
        height:39vh;
    }
    .sequence-viewer{
        top:50vh;
    }
    .sequence-viewer.bottom-panel-toggled{
        top:30vh;
    }
    .sequence-viewer .seq-container{
        height:10vh;
    }
    .bottom-panel{
        height:40vh;
    }
    .bottom-panel.bottom-panel-toggled{
        top:39vh;
        height:60vh;
    }
    .right-panel .ui{
        height:60vh;
    }
    .right-panel .ui.toggled{
        height:40vh;
    }
    .right-panel > .bottom{
        height:40vh;
    }
    .right-panel > .bottom.toggled{
        height:60vh;
    }
    .left-tabs.bottom-tabs-toggled{
        width:43%;
    }
    .right-tabs.bottom-tabs-toggled{
        width:57%;
    }
    .bottom-panel .nav > li > a {
        padding: 0.5vh 5px !important;
    }
}
.right-panel .toggler {
    margin-bottom: 0;
    max-height: 3vh;
    line-height: 2.5vh;
    text-align: center;
    margin-right: 15px;
    margin-top: 0.5vh;
    padding-top: 0.5vh;
}

.form-group .form-3-input{
    width: 33%;
    float: left;
}
.form-group .form-3-input:first-child{
    margin-right: 0.5%;
}
.form-group .form-3-input:last-child{
    margin-left: 0.5%;
}

#right-panel-toggle-minimize{
    display:none;
}

@media only screen and (max-height: 900px){
    .right-panel .toggler {
        max-height: 4vh;
        line-height: 3.5vh;
    }
}

@media only screen and (max-width: 1300px),
only screen and (max-height: 542px) {
    .right-panel{
        width: 45vw;
        /*z-index: 900;*/
        background-color: white;
        border-left: 1px solid #aaa;
    }
    .right-panel.minimized{
        width: 4px;
    }
    .plugin,
    .sequence-viewer,
    .bottom-panel{
        width: 99.5vw;
    }

    .bottom-panel{
        top:59vh;
    }

    .plugin{
        border-right:none;
    }

    .current-pbdbid-sign,
    .download-button,
    .button.download.dropdown-toggle,
    .annotate,
    .help-button{
        font-size:10pt;
    }

    .help-button .help-ico{
        vertical-align: sub !important;
    }

    .current-pbdbid-sign{
        width: 125px;
        padding-left: 5px;
        padding-right: 55px;
        z-index: 945;
    }

    .annotate{
        width: 95px;
        right: 125px;
    }

    .download-button{
        width: 115px;
        right: 220px;
    }

    .help-button{
        width: 90px;
        right: 330px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #controls{
        left: 0vw;
        width: 45vw;
    }

    .right-panel .ui{
        width: 44.35vw;
    }

    .layerVizualizer .common-area{
        position: absolute !important;
    }

    .layerVizualizer .control-label{
        display:none;
    }

    #bottom-panel-toggler{
        right: 0px;
        margin-right: 9px;
    }

    .left-tabs{
        width:55%;
    }
    .right-tabs{
        width:45%;
    }
    .left-tabs.bottom-tabs-toggled{
        width:43%;
    }

    .right-tabs.bottom-tabs-toggled{
        width:57%;
    }

    #bottom-tabs-toggler{
        right: 0px;
        margin-right: 1px;
    }

    .layerVizualizer * .controls .control-label{
        display:none;
    }

    .lining-residues.select-controls{
        right: 0.25vw;
    }

    #right-panel-toggle-minimize{
        display: block;
        position: absolute;
        margin-left: -20px;
        width: 20px;
        top: 25vh;
        border: 1px solid #aaa;
        border-right: none;
        background-color: white;
        line-height: 8vh;
        text-align: center;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        cursor: pointer;
        padding-left:2px;
    }

    .submit-form-container .tab-content{
        max-height: 30.5vh;
    }
    .toggled .submit-form-container .tab-content{
        max-height: 50.2vh;
    }
    .controls-tab {
        right: 45vw;
    }
}

@media only screen and (max-width: 1000px){
    .plugin,
    .plugin.sv-minimized,
    .chdb-panel.bottom-panel,
    .chdb-panel.sequence-viewer{
        position:relative;
    }

    .chdb-panel.sequence-viewer{
        height: 50vh;
        top: 0vh;
    }
    .chdb-panel.bottom-panel{
        top:25px;
    }

    .chdb-panel.right-panel{
        position:fixed;
    }
    .chdb-panel.right-panel.has-modal {
        position: absolute;
    }

    .plugin,
    .plugin.sv-minimized,
    .chdb-panel.bottom-panel .left-tabs,
    .chdb-panel.bottom-panel .right-tabs{
        height:100vh;
        width:100vw;
        display:block;
    }
    .chdb-panel.bottom-panel .right-tabs{
        top: 100vh;
    }
    .sequence-viewer .seq-container{
        height:50vh;
    }
    .sequence-viewer .minimized{
        height: 50vh;
        margin-top: 0px;
    }
    .sequence-viewer .minimized .seq-container{
        height:50vh;
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
    }
    .sequence-viewer .sequence-viewer-header .glyphicon{
        display:none;
    }

    .layerVizualizer .layer-vizualizer-canvas,
    .layerVizualizer .canvas-wrapper,
    .layerVizualizer .fake-canvas{
        height:40vh;
    }

    #bottom-panel-toggler,
    #bottom-tabs-toggler{
        display:none;
    }

    .right-panel.minimized{
        min-width:4px;
    }

    .lm-viewport-controls {
        margin-right: 15px;
    }

    .controls-tab {
        right: 45vw;
    }
    
}
@media only screen and (max-width: 700px)
{
    .chdb-panel.right-panel{
        top: 6vh;
        padding-top: 3px;
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        height: 92vh;
        padding-bottom:3px;

    }
    .chdb-panel.right-panel.minimized{
        width:4px;
    }

    .submit-form-container .tab-content {
        max-height: 44.5vh;
    }
    .toggled .submit-form-container .tab-content {
        max-height: 26vh;
    }
    
    .ui{
        height:36vh !important;
    }
    .ui.toggled{
        height:54vh !important;
    }
    #controls{
        height:54vh !important;
    }
    #controls.toggled{
        height:36vh !important;
    }

    #controls .submit-parent{
        height:4vh;
        border-bottom: 1px solid #aaa;
        margin-bottom:2px;
    }
    #right-panel-tabs .tab-content {
        border-bottom: 1px solid #9a9a9a;
    }
    
}
@media only screen and (max-width: 768px){
    .helpDialog{
        position: fixed;
        right: 2%;
        width: 96%;
        left: 2%;
        margin-top: 30px;
        border-top-left-radius: 10px;
    }
    
    .helpDialog .custom-box{
        width: 90%;
        margin-left: 5%;
    }

    .helpDialog .error-msg{
        width:100%;
    }
}
@media only screen and (max-width: 650px)
{
    .lm-viewport-controls {
        margin-top: 35px;
    }
    .current-pbdbid-sign .glyphicon,
    .download-button .glyphicon,
    .annotate-button .glyphicon,
    .help-button .glyphicon{
        display: none;
    }

    .current-pbdbid-sign{
        width: 100px;
    }

    .download-button{
        right: 195px;
        width: 90px;
    }

    .annotate{
        width: 95px;
        right: 100px;
    }

    .help-button{
        right: 285px;
        border-left: none;
        width: 60px;
        padding-right: 15px;
    }
}
@media only screen and (max-width: 400px){
    .chdb-panel.right-panel{
        width:85vw;
    }
}
/** PHONE - right controls **/
@media only screen and (max-width: 900px), only screen and (max-height: 375px){

    .right-panel .submit-form-container{
        height: 90%;
        margin-top: 2%;
    }
    .right-panel .bottom ul.nav.nav-tabs {
        visibility: hidden;
    }
    .right-panel .submit-parent,
    #controls .submit-parent{
        /*height:70%;*/
        height: 8vh;
        background-color: white;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        padding-top: 3px;
        position: fixed;
        bottom: 0;
        margin-bottom: 0px;
        padding-bottom: 3px;
    }
    .right-panel .submit-form-container .submit-parent {
        position: relative;
    }
    .bottom.toggled .submit-form-container .tab-content {
        max-height: 93%;
    }

    /* ---------- */

    .ui {
        height: 90% !important;
    }
    .ui.toggled {
        visibility: hidden;
    }

    #controls{
        height: 6% !important;
        margin-bottom: 2%;
    }
    #controls.toggled{
        height: 97% !important;
    }

    .right-panel .bottom form#submission-form {
        visibility: hidden;
        height: 15%;
    }
    .right-panel .bottom.toggled form#submission-form {
        visibility: visible;
    }    

    .right-panel .bottom ul.nav.nav-tabs {
        visibility: hidden;
    }
    .right-panel .bottom.toggled ul.nav.nav-tabs {
        visibility: visible;
    }
    
    .right-panel .bottom .tab-content {
        visibility: hidden;
    }
    .right-panel .bottom.toggled .tab-content {
        visibility: visible;
    }

    /****/

    .submit-form-container .submit, 
    .submit-form-container .delete-project-button, 
    .submit-form-container .kill-job-button, 
    .submit-form-container .submit-arrow, 
    .submit-form-container .submit-combo, 
    .submit-form-container .clear-button {
        height: 90%;
        margin-top: 2px;
        margin-bottom: 0.5vh;
        line-height: normal;
        padding: 5px 5px;
        max-height: 90%;
    }

    .submit-form-container .submit-combo{
        font-size: 7pt;
    }
    
}