<div class='report-body params-page'>
	<h1>MoleOnline - Job parameters</h1>
	<div class='report-header'>
		<table class="table table-striped">
			<tbody>
				<tr><td><b>Session:</b></td><td> [[COMP-ID]]/[[SUBMIT-ID]]</td><td><b>PDBID:</b></td><td> [[PDBID]]</td></tr>
				<tr><td><b>Link:</b></td><td> [[URL]]</td><td><b>Assembly ID:</b></td><td> [[ASSEMBLY-ID]]</td></tr>
			</tbody>
		</table>
	</div>
	<div class='report-params-table'>
		<table class="table table-striped pores [[PORES-PARAMS-VISIBLE]]">
			<thead>
				<tr><th colspan="2">Pores config values:</th></tr>
			</thead>
			<tbody>
				<tr><td>Beta Structure:</td><td>[[BETA-STRUCTURE]]</td></tr>
				<tr><td>Membrane Region:</td><td>[[MEMBRANE-REGION]]</td></tr>
				<tr><td>Specific Chains:</td><td>[[SPECIFIC-CHAINS]]</td></tr>
				<tr><td colspan="2"/></tr>
			</tbody>
		</table>
		<table class="table table-striped mole [[MOLE-PARAMS-VISIBLE]]">
			<thead>
				<tr><th colspan="2">Mole config values:</th></tr>
			</thead>
			<tbody>
				<tr><th colspan="2">Active Atoms/Residues</th></tr>
				<tr><td>Ignore Hydrogens: </td><td>[[IGNORE-HYDROGENS]]</td></tr>
				<tr><td>Ignore HETATMs: </td><td>[[IGNORE-HETATMS]]</td></tr>
				<tr><td>Query Filter: </td><td>[[QUERY-FILTER]]</td></tr>
				<tr><td>Read All Models: </td><td>[[READ-ALL-MODELS]]</td></tr>
				<tr><td>Ignored Residues: </td><td>[[IGNORED-RESIDUES]]</td></tr>
				<tr><td>Specific Chains:</td><td>[[SPECIFIC-CHAINS]]</td></tr>
				<tr class="empty-space"><td colspan="2"></td></tr>
				<tr><th colspan="2">Cavity Parameters</th></tr>
				<tr><td>Probe Radius: </td><td>[[PROBE-RADIUS]]</td></tr>
				<tr><td>Interior Treshold: </td><td>[[INTERIOR-TRESHOLD]]</td></tr>
				<tr class="empty-space"><td colspan="2"></td></tr>
				<tr><th colspan="2">Channel Parameters</th></tr>
				<tr><td>Origin Radius: </td><td>[[ORIGIN-RADIUS]]</td></tr>
				<tr><td>Surface Cover Radius: </td><td>[[SURFACE-COVER-RADIUS]]</td></tr>
				<tr><td>Weight Function: </td><td>[[WEIGHT-FUNCTION]]</td></tr>
				<tr><td>Bottleneck Radius: </td><td>[[BOTTLENECK-RADIUS]]</td></tr>
				<tr><td>Bottleneck Tolerance: </td><td>[[BOTTLENECK-TOLERANCE]]</td></tr>
				<tr><td>Max Tunnel Similarity: </td><td>[[MAX-TUNNEL-SIMILARITY]]</td></tr>
				<tr><td>Merge Pores: False </td><td>[[MERGE-PORES]]</td></tr>
				<tr><td>Automatic Pores: False </td><td>[[AUTOMATIC-PORES]]</td></tr>
				<tr class="empty-space"><td colspan="2"></td></tr>
				<tr><th colspan="2">Selection</th></tr>
				<tr><td>Starting Point:  </td><td>[[STARTING-POINT]]</td></tr>
				<tr><td>Starting Point[x,y,z]: </td><td>[[STARTING-POINT-XYZ]]</td></tr> 
				<tr><td>End Point: </td><td>[[END-POINT]]</td></tr> 
				<tr><td>End Point[x,y,z]:  </td><td>[[END-POINT-XYZ]]</td></tr>
				<tr><td>Query: </td><td>[[QUERY]]</td></tr> 
				<tr><td colspan="2"/></tr>
			</tbody>
		</table>
	</div>
</div>
<div class="page-break"/>
